{{#if addAward}}
<button class ="ui button" {{action 'cancelAdd'}}>
    Cancel 
</button>
<button class="ui button" {{action 'saveAward'}}>
    Save Award
</button>

<div class="ui grid">
    <div class="ui right aligned seven wide column">
      <div class="ui form">
        <div class="inline field">
          <label>Award Information:</label> {{input size="100" type="text" value = note}}
        </div>
      </div>
    </div>
</div>
{{else}}
    <button class="ui button" {{action 'addAward'}}>
    Add New Award
    </button>
{{/if}}


