{{#if addCourse}}
<button class ="ui button" {{action 'cancelAdd'}}>
    Cancel 
</button>
<button class="ui button" {{action 'saveCourse'}}>
    Save Course
</button>

<div class="ui grid">
    <div class="ui right aligned seven wide column">
      <div class="ui form">
        <div class="inline field">
          <label>Course Name:</label> {{input size="10" type="text" value = course}}
        </div>
      </div>
      <div class="ui form">
        <div class="inline field">
          <label>Description:</label> {{input size="10" type="text" value = description}}
        </div>
      </div>
      <div class="ui form">
        <div class="inline field">
          <label>Units:</label> {{input size="10" type="text" value = units}}
        </div>
      </div>
      <div class="ui form">
        <div class="inline field">
          <label>Grade:</label> {{input size="10" type="text" value = grade}}
        </div>
      </div>
      <div class="ui form">
        <div class="inline field">
          <label>From:</label> {{input size="10" type="text" value = location}}
        </div>
      </div>
    </div>
</div>
{{else}}
    <button class="ui button" {{action 'addCourse'}}>
    Add New Course
    </button>
{{/if}}

