<div id="error-modal" class="ui basic modal">
  <div class="ui icon header">
    <i class="warning circle red icon"></i> Cannot save with empty values
  </div>
  <div class="actions">
    <div class="ui basic ok inverted button" {{action 'closeErrorModal'}}>
      Ok
    </div>
  </div>
</div>
<table class="ui celled table">
  <tbody>
    <tr>
      <td>Course name</td>
      <td>Description</td>
      <td>Units</td>
      <td>Grade</td>
      <td>Location</td>
      <td>Action</td>
    </tr>
    {{#each currentStudent.transInfo as |standings|}} {{#if isEditing}}
    <tr>
      <td>
        <div class="ui form warning">
          <div class="inline field">{{input type="text" value=standings.course}}</div>
        </div>
      </td>
      <td>
        <div class="ui form warning">
          <div class="inline field">{{input type="text" value=standings.description}}</div>
        </div>
      </td>
      <td>
        <div class="ui form warning">
          <div class="inline field">{{input type="text" value=standings.units}}</div>
        </div>
      </td>
      <td>
        <div class="ui form warning">
          <div class="inline field">{{input type="text" value=standings.grade}}</div>
        </div>
      </td>
      <td>
        <div class="ui form warning">
          <div class="inline field">{{input type="text" value=standings.location}}</div>
        </div>
      </td>
      <td>
        <button class="ui icon button" data-tooltip="Return" data-inverted=" " {{action 'cancelEdit' thisOne=standings.course}}>
          <i class="level up icon"></i>
        </button>
        <button class="ui icon button" data-tooltip="Save Course" data-inverted=" " {{action 'saveCourse' standings}}>
          <i class="save icon"></i>
        </button>
      </td>
    </tr>
    {{else}}
    <tr>
      <td>{{standings.course}}</td>
      <td>{{standings.description}}</td>
      <td>{{standings.units}}</td>
      <td>{{standings.grade}}</td>
      <td>{{standings.location}}</td>
      <td>
        <button class="ui icon button" data-tooltip="Delete Course" data-inverted=" " {{action 'toggleDeleteModal' standings}}>
          <i class="delete icon"></i>
        </button>
        <!-- Delete modal -->
        <div id="delete-modal-standing" class="ui small modal modal-box">
          <div class="header">
            Delete Course?
          </div>
          <div class="content">
            {{thisStanding.course}}
          </div>
          <div class="actions">
            <div class="ui red ok button" {{action 'deleteCourse'}}>
              <i class="remove icon"></i> Delete
            </div>
            <div class="ui cancel button" {{action 'toggleDeleteModal'}}>
              Cancel
            </div>
          </div>
        </div>
        <!-- Delete modal -->

        <button class="ui icon button" data-tooltip="Edit Course" data-inverted=" " {{action 'editCourse' standings}}>
          <i class="edit icon"></i>
        </button>

      </td>
    </tr>
    {{/if}} {{else}}
    <tr>
      <td>No courses on record</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {{/each}}
    <tr>
      <td>
        <div class="ui form">{{input type="text" value = course}}</div>
      </td>
      <td>
        <div class="ui form">{{input type="text" value = description}}</div>
      </td>
      <td>
        <div class="ui form">{{input type="text" value = units}}</div>
      </td>
      <td>
        <div class="ui form">{{input type="text" value = grade}}</div>
      </td>
      <td>
        <div class="ui form">{{input type="text" value = location}}</div>
      </td>
      <td>
        <button class="ui icon button" data-tooltip="Add Course" data-inverted=" " {{action 'addCourse'}}>
            <i class="plus icon"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>