<!-- Display the login screen with the main application background -->
{{#if isPasswordChanging}}
<section class="hero">
  <div class="row intro">
    <div>
      <div class="row">
        <div class="large-10  large-centered columns">
          <div class="panel">
            <h3>Please change your password and login again</h3>
            <br>
            <div class="row">
              <div class="small-3 columns">
                <label class="right">Enter Password</label>
              </div>
              <div class="small-7 columns" class="left">
                {{input value=firstPassword type="password" }}
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label class="right">Reenter Password</label>
              </div>
              <div class="small-7 columns" class="left">
                {{input value=secondPassword type="password" }}
              </div>
            </div>
            <br> <br>
            <a href="#" class="button radius" {{action 'save'}}>Save</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>


{{else}}

<div id="login-box">
  <div id="login-header">
    <img id="login-img" class="ui image" src="/assets/images/Engineer_Stacked_Reversed.png">
  </div>
  <div id="login-area">
    <h2 class="ui header">Adjudication System Login</h2>
    <div class="ui form">
      <div class="field">
        {{input value=name type="text" placeholder="user name" action='login' autofocus="autofocus"}}
      </div>
      <div class="field">
        {{input value=password type="password" placeholder="password" action='login'}}
      </div>
      <div class="field">
        <a class="ui button" {{action 'login'}}>
            Log In
          </a>
        <p> {{errorMessage}}</p>
      </div>
    </div>
  </div>
</div>

{{/if}}