<div class="ui segment">
    <h3 align="center">Modify User Profile for {{getUser}} {{userProfile.firstName}} {{userProfile.lastName}}</h3>
    <div class="ui form">
        <div class="inline field">
            <label class="right">First Name</label> {{input value=userProfile.firstName type="text" placeholder="Enter first
            name" }}
        </div>
        <div class="inline field">
            <label class="right">Last Name</label> {{input value=userProfile.lastName type="text" placeholder="Enter last
            name"}}
        </div>

        <div class="inline field">
            <label class="right">EMail Address</label> {{input value=userProfile.email type="text" placeholder="Enter email
            address"}}
        </div>

        {{#if isChangingPassword }}
        <div class="inline field">
            <label class="right">Old Password</label> {{input value=oldPassword type="password" placeholder="Enter old password"}}
        </div>

        <div class="inline field">
            <label class="right">New Password</label> {{input value=newPassword1 type="password" placeholder="Enter new password"}}
        </div>

        <div class="inline field">
            <label class="right">New Password Again</label> {{input value=newPassword2 type="password" placeholder="Enter
            new password again"}}
        </div>

        <div class="inline field">
            <p></p>
            <button class="ui button" {{action 'cancelChangePassword'}}>Cancel
              Change Password
            </button>
        </div>
        {{else}}
        <div class="inline field">
            <label class="right">Password</label>
            <button class="ui button" {{action 'changePassword'}}>Change
              password
            </button>
        </div>
        {{/if}}
    </div>

</div>

<br><br>
<button class="ui button" {{action 'saveUser'}}>Save</button>
<button class="ui button" {{action 'cancel'}}>Cancel</button>