<div class="ui modal">
  <div class="header">Search Students Using the Input Fields and by Pressing 'Search'</div>
  <div class="content">
    
    
<div class="ui form">
    <div class="inline field">
      <label>Student Number</label>
      {{input size="10" type="text"  value = idSearch}}
    </div>
    <div class="inline field">
      <label>First Name</label>
      {{input type="text"  value = firstNameSearch}}
    </div>
    <div class="inline field">
      <label>Last Name</label>
      {{input type="text" value = lastNameSearch}}
    </div>

    <div class="inline field">
      <hr>
      <div class="header">Search Results:</div>
      
    </div>
    </div>

    {{#each searchedRecords as | oneStudent|}}
      <div class="ui grid">
        <div class="ten wide column">
          <div class="actions">
            <div class="ui form">
              <div class="grouped fields">
                <div class="field">
                  <div class="ui radio checkbox">
                    <input type="radio" name="fixed"
                           onchange={{action 'getStudent' oneStudent}}>
                    <label>{{oneStudent.number}} {{oneStudent.firstName}}
                      {{oneStudent.lastName}}  </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="six wide column">
        </div>
      </div>
    {{/each}}

    <div class="actions">
      <hr>
      <div class="ui button" {{action "search"}}>
        <i>Search</i>
      </div>
      <div class="ui button" {{action "exit"}}>OK</div>
    </div>

  </div>
</div>