<div class="ui sidebar left visible inverted vertical menu">
    <div id = "header" class = "ui">
    <div id = "header-img">
      <img class="ui centered tiny image" src="/assets/images/UWO Header.png">
    </div>
    <div id = "header-text">
      <h1 class = "ui header">Western Engineering</h1>
      <h2 class = "ui header">Adjudication System</h2>
    </div>
  </div>
  <div id = "menu-items">
    <a class="item active" {{action "home"}}>
        <i class="large home icon"></i>
        Home
      </a>
    <a class="item" {{action "studentsDataEntry"}}>
        <i class="large leanpub icon"></i>
        Student Records
      </a>
    <a class="item" {{action "addStudent"}}>
        <i class="large add user icon"></i>
        Add Student
      </a>
<a class="item " {{action "editResidency"}}>
        <i class="large building outline icon"></i>
        Edit Residency
      </a>
      <a class="item " {{action "editGender"}}>
        <i class="large heterosexual icon"></i>
        Edit Gender
      </a>
      </div>
</div>
  <div class="pusher">
   <div id = "main-content" class="ui">
    
      {{#if isHomeShowing}}
      <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">Welcome</h3>
        </div>
        <div class = "content">
        {{welcome-page}}
        </div>
    </div>
    <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">About Us</h3>
        </div>
        <div class = "content">
       {{about-us}}
       </div>
    </div>
      {{/if}}
      {{#if isStudentsRecordsDataEntry}}
      <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">Student Records</h3>
        </div>
        <div class = "content">
       {{student-data-entry}}
       </div>
    </div>
      {{/if}}
      {{#if isAddStudShowing}}
      <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">Add Student</h3>
        </div>
        <div class = "content">
       {{add-student}}
       </div>
    </div>
      {{/if}}
      {{#if isEditResShowing}}
      <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">Edit Residencies</h3>
        </div>
        <div class = "content">
       {{edit-residency}}
       </div>
    </div>
      {{/if}}
      {{#if isEditGenShowing}}
      <div class="ui content-card">
        <div class = "titlebar">
          <h3 class = "titlebar-header">Edit Genders</h3>
        </div>
        <div class = "content">
        {{edit-gender}}
        </div>
    </div>
      {{/if}}

</div>
  </div>
  
  