<div class="ui sidebar left visible inverted vertical menu">
  <div id="header" class="ui">
    <div id="header-img">
      <img class="ui centered tiny image" src="/assets/images/UWO Header.png">
    </div>
    <div id="header-text">
      <h1 class="ui header">Western Engineering</h1>
      <h2 class="ui header">Adjudication System</h2>
      <h3 class="ui header">Account: {{oudaAuth.getName}}</h3>
    </div>
  </div>
  <div id="menu-items">
    <a class="item active" {{action "home"}}>
      <i class="home icon"></i> Home
    </a>
    <a class="item" {{action "studentsDataEntry"}}>
      <i class="leanpub icon"></i> Student Records
    </a>
    <a class="item" {{action "editSystemCode"}}>
      <i class="code icon"></i> Edit System Code
    </a>
    {{#if ID001IsPermitted}}
    <a class="item" {{action "importStudentRecords"}}>
      <i class="upload icon"></i> Import Student Records
    </a>
    {{/if}} {{#if ADM01IsPermitted }}
    <a class="item" {{action "admin"}}>
      <i class="settings icon"></i> Admin Portal
    </a>
    {{/if}}
    <a class="item" {{action "logout"}}>
      <i class="sign out icon"></i> Log Out
    </a>
  </div>
</div>
<div class="pusher">
  <div id="main-content" class="ui">

    {{#if isHomeShowing}}
    <div id="welcome-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Welcome</h3>
      </div>
      <div class="content">
        {{welcome-page}}
      </div>
    </div>
    <div id="about-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">About Us</h3>
      </div>
      <div class="content">
        {{about-us}}
      </div>
    </div>
    {{/if}} {{#if isStudentsRecordsDataEntry}}
    <div id="records-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Student Records</h3>
      </div>
      <div class="content">
        {{student-data-entry}}
      </div>
    </div>
    {{/if}} {{#if isAddStudShowing}}
    <div id="add-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Add Student</h3>
      </div>
      <div class="content">
        {{add-student}}
      </div>
    </div>
    {{/if}} {{#if isEditSysShowing}}
    <div id="edit-res-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Edit Residencies</h3>
      </div>
      <div class="content">
        {{edit-residency}}
      </div>
    </div>
    <div id="edit-gen-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Edit Genders</h3>
      </div>
      <div class="content">
        {{edit-gender}}
      </div>
    </div>
    {{/if}} {{#if isImportRecordsShowing}}
    <div id="import-card" class="ui content-card">
      <div class="titlebar">
        <h3 class="titlebar-header">Import Student Records</h3>
      </div>
      <div class="content">
        {{import-students}}
      </div>
    </div>
    {{/if}} {{#if isAdminShowing}} {{system-administration}} {{/if}}

  </div>
</div>