<table class="ui celled table">
   <tbody>
     <tr>
      <td>Course name</td>
      <td>Description</td>
      <td>Units</td>
      <td>Grade</td>
      <td>Location</td>
     </tr>
   {{#each currentStudent.transInfo as |standings|}}
   <tr>
     <td>{{standings.course}}</td>
     <td>{{standings.description}}</td>
     <td>{{standings.units}}</td>
     <td>{{standings.grade}}</td>
     <td>{{standings.location}}</td>
   </tr>
   {{else}}
   <tr>
    <td>No courses on record</td>
    <td></td><td></td><td></td><td></td>
   </tr>
   {{/each}}
   </tbody>
 </table>