<table class="ui celled table">
  <tbody>
    <tr>
      <td>Secondary School</td>
      <td>Course Info</td>
      <td>Level</td>
      <td>Source</td>
      <td>Units</td>
      <td>Grade</td>
    </tr>

    {{#each currentStudent.highSchoolCourse as |hsCourse|}}
    <tr>
      <td>{{hsCourse.source.school.name}}</td>
      <td>{{hsCourse.source.course.name}}<br><!--{{hsCourse.source.course.description}}--></td>
      <td>{{hsCourse.source.level}}</td>
      <td>{{hsCourse.source.source}}</td>
      <td>{{hsCourse.source.unit}}</td>
      <td>{{hsCourse.mark}}</td>
    </tr>
    {{else}}
    <tr>
      <td>No courses on record</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    {{/each}}
  </tbody>
</table>