<br>
<h3>Adjudication Rule Expressions</h3>
<table class="ui celled table">
    <tbody>
        {{#each thisCode.testExpression as |expression|}}
        <tr>
            <td>
                {{expression.booleanExp}}
            </td>
            <td>
                <button class="ui icon button" data-tooltip="Delete Expression" data-inverted=" " {{action 'deleteExpression' expression}}>
            <i class="delete icon"></i>
          </button>
                <!-- Delete modal -->
                <!--<div id="delete-modal-exp" class="ui small modal modal-box">
                    <div class="header">
                        Delete Expression?
                    </div>
                    <div class="content">
                        {{thisExp.booleanExp}}
                    </div>
                    <div class="actions">
                        <div class="ui red ok button" {{action 'deleteExpression'}}>
                            <i class="remove icon"></i> Delete
                        </div>
                        <div class="ui cancel button" {{action 'toggleDeleteModal'}}>
                            Cancel
                        </div>
                    </div>
                </div>
                -->
                <!-- Delete modal -->
                <!--
                <button class="ui icon button" data-tooltip="Edit Award" data-inverted=" " {{action 'editAward' awards}}>
            <i class="edit icon"></i>
          </button>-->
            </td>
        </tr>
        {{else}}
        <tr>
            <td>No logical expressions</td>
            <td></td>
        </tr>
        {{/each}}
    </tbody>
</table>

<br>
<br>
<br>
<div class="ui form">

    <div class="inline field">
        <label>Parameter</label>
        <select id="operator-dropdown" class="ui dropdown" required onchange={{action 'selectParameter' value="target.value" }}>
    <option value="">Select Parameter</option>
    {{#each parameters as |par|}}
    <option value={{par}}>{{par}}</option>
    {{/each}}
        </select>

        <label>Boolean Operator</label>
        <select id="operator-dropdown" class="ui dropdown" required onchange={{action 'selectOperator' value="target.value" }}>
    <option value="">Select Operator</option>
    {{#each operators as |op|}}
    <option value={{op}}>{{op}}</option>
    {{/each}}
        </select>

        <label>Value</label> {{input type="text" value = expValue placeholder="Enter value to be checked"}}
    </div>
    <button class="ui icon button" {{action 'addExpression'}}>
    <i class="plus icon"></i>Add Expression
</button>
</div>