<div id="error-modal" class="ui basic modal">
    <div class="ui icon header">
        <i class="warning circle red icon"></i> Cannot save with empty values!
        <div class="actions">
            <div class="ui basic ok inverted button" {{action 'closeErrorModal'}}>
                Ok
            </div>
        </div>
    </div>
</div>
<div id="add-modal-rec-adj" class="ui modal">
    <div class="header">
        Add Assesment Code
    </div>
    <div class="content">
        <h3>Assesment Roles</h3>

        <table class="ui celled table">
            <tbody>
                <tr>
                    <td>Code</td>
                    <td>Name</td>
                    <td>Action</td>
                </tr>
                {{#each assessmentModel as |aCode|}}
                <tr>
                    <td>{{aCode.code}}</td>
                    <td>{{aCode.name}}</td>
                    <td>
                        <button class="ui icon button" data-tooltip="Add To Student" data-inverted=" " {{action 'addThisCode' aCode}}>
                            <i class="plus icon"></i>
                        </button>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <div class="ui form">
                            <div class="inline field">{{input type="text" value=date placeholder="Date"}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="ui form">
                            <div class="inline field">{{input type="text" value=avg placeholder="Term Avg"}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="ui form">
                            <div class="inline field">{{input type="text" value=note placeholder="Add Note"}}</div>
                        </div>
                    </td>
                    <td>
                        <div class="ui form">
                            <div class="inline field">{{input type="text" value=semester placeholder="Semester"}}</div>
                        </div>
                    </td>
                </tr> -->
                {{else}}
                <tr>
                    <td>No Assessment Codes on File</td>
                    <td></td>
                    <td></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="actions">
        <div class="ui cancel button" {{action 'toggleAddModal'}}>
            Close
        </div>
    </div>

</div>
<div>
    <h3>Adjudication Information</h3>
    <button class="ui icon button" {{action 'toggleAddModal'}}>
    <i class = "plus icon"></i> Add Assessment Code
</button>
    <table class="ui celled table">
        <tbody>
            <tr>
                <td>Comment Code</td>
                <td>Name</td>
                <td>Action</td>
            </tr>
            {{#each currentStudent.adjudication as |adjudes|}}
            <tr>
                <td>{{adjudes.comment.code}}</td>
                <td>{{adjudes.comment.name}}</td>
                <td>
                    <button class="ui icon ok button" data-tooltip="Remove Code" data-inverted=" " {{action 'removeCode' adjudes}}>
                    <i class="delete icon"></i>
                </button>
                </td>
            </tr>
            {{else}}
            <tr>
                <td>No comments on record</td>
                <td></td>
                <td></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>