<div class="ui top attached tabular menu">
    <a class="active item" data-tab="adjudication">Adjudication Rules</a>
    <a class="item" data-tab="distribution">Distribution</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="adjudication">

    <button class="ui icon button" {{action 'toggleAddModal'}}>
            <i class="plus icon"></i>Add Assesment Rule
        </button>
    <!-- Add modal -->
    <div id="add-modal-adj" class="ui small modal modal-box">
        <div class="header">
            Add Assesment Rule
        </div>
        <div class="content">
            <div class="ui form warning">
                <div class="inline field"><label>Assessment Code</label>{{input type="text" size="10" value=newCode}}</div>
                <br>
                <div class="inline field"><label>Assessment Code Description</label>{{textarea type="text" placeholder="Enter assessment code description"
                    value=newName}}
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui ok green button" {{action 'addAssessment'}}>
                Create
            </div>
            <div class="ui cancel button" {{action 'toggleAddModal'}}>
                Cancel
            </div>
        </div>
    </div>
    <!-- Add modal -->
    <table class="ui celled table">
        <tbody>
            {{#each assessmentModel as |aCode|}}
            <tr>
                <td>{{aCode.name}}</td>
                <td>{{aCode.code}}</td>
                <td>
                    <button class="ui icon button" data-tooltip="Delete Code" data-inverted=" " {{action 'toggleDeleteModal' aCode}}>
            <i class="delete icon"></i>
          </button>
                    <!-- Delete modal -->
                    <div id="delete-modal-adj" class="ui small modal modal-box">
                        <div class="header">
                            Delete Code?
                        </div>
                        <div class="content">
                            {{thisModel.code}} : {{thisModel.name}}
                        </div>
                        <div class="actions">
                            <div class="ui red ok button" {{action 'deleteAssessment'}}>
                                <i class="remove icon"></i> Delete
                            </div>
                            <div class="ui cancel button" {{action 'toggleDeleteModal'}}>
                                Cancel
                            </div>
                        </div>
                    </div>
                    <!-- Delete modal -->
                    <button class="ui icon button" data-tooltip="Edit Code" data-inverted=" " {{action 'toggleEditModal' aCode}}>
            <i class="edit icon"></i>
          </button>

                    <!-- Edit modal -->
                    <div id="edit-modal-adj" class="ui large modal modal-box">
                        <div class="header">
                            Edit Assesment Rule
                        </div>
                        <div class="content">
                            <div class="ui form warning">
                                <div class="inline field"><label>Assessment Code</label>{{input type="text" size="10" value=thisModel.code}}</div>
                                <br>
                                <div class="inline field"><label>Assessment Code Description</label>{{textarea type="text" value=thisModel.name}}</div>
                            </div>
                            {{logical-expressions thisCode = thisModel}}
                        </div>
                        <div class="actions">
                            <div class="ui green ok button" {{action 'editAssessment'}}>
                                Save
                            </div>
                            <div class="ui cancel button" {{action 'toggleEditModal'}}>
                                Cancel
                            </div>
                        </div>
                    </div>
                    <!-- Edit modal -->
                </td>
            </tr> {{else}}
            <tr>
                <td>No adjudication rules on record</td>
                <td></td>
            </tr>
            {{/each}}

        </tbody>
    </table>

</div>
<div class="ui bottom attached tab segment" data-tab="distribution">
    <div class="ui grid">
        <button class="ui icon button" {{action 'incrementCode'}}>
            <i class="add icon"></i>
         </button>
        <div class="ui form">
            <div class="ten wide segment">
                <div class="ui right aligned seven wide column">
                    <br>
                    <div class="ui celled table">
                        <tbody>
                            <tr>
                                <td>Name</td>
                                <td>Comment Code</td>
                                <td>Count</td>
                            </tr>
                            {{#each assessmentModel as |assessCodes|}}
                            <tr>
                                <td>
                                    {{assessCodes.code}}
                                </td>
                                <td>
                                    {{assessCodes.name}}
                                </td>
                                <td>
                                <!--     <button class="ui icon button" {{action 'incrementCode' assessCodes.code}}>
                                        <i class="save icon"></i>
                                     
                                    </button>-->
                                    <!--  {{#each assessCodes.comment as |comment|}}
                                    {{action "incrementCode" comment}} 
                                    {{/each}}
                                     {{#if keep}}

-->

                                   
                                  <!--  {{#each assessCodes.comment as |code|}}
                                    {{action "incrementCode" code}}
                                    {{/each}}-->
                                  <!--  {{action "incrementCode" code}}
                                    {{/if}}-->
                                    {{this.length}}
                                </td>
                            </tr>
                            {{/each}}

                        </tbody>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>